@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');

$font-family: 'New Tegomin', serif;
$font-color: #ffffcc;
$border-color: white;
$bg-color: #181818;
$btn-color: #16acc9;
$shadow-color: rgb(209, 217, 75);
$navbar-bg-color: black;